.align-center{
    align-content: center;
}
.img-responsive{
    width: 100%;
}
body{
    background-color: black;
    color: #eeeeee;
}
.footer {
    background: #111;
    padding: 20px;
    text-align: center;
  }
  
  .footer a {
    color: #0ff; /* color neón */
    font-size: 2rem;
    margin: 0 15px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .footer a:hover {
    color: #fff;
    text-shadow: 0 0 5px #0ff, 0 0 15px #0ff, 0 0 30px #0ff;
  }
  h2
  {
color: green;
  }
  .contacto {
    display: flex;
    gap: 20px; /* Espacio entre los elementos */
  }

  .contacto div {
    background-color: #17b338;
    padding: 8px 12px;
    border-radius: 8px;
  }
  .github-btn {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
  }

  .github-btn:hover {
    background-color: #11b81d;
  }